.App {
  border: 1px solid green;
  height: 100vh;
}
header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.hamburger-icon {
  background: none;
  border: none;
}
.hamburger-icon img{
  height: 45px;
  width: 45px;
}
aside {
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.aside-button {
  border: 1px solid #ccc;
  color: #000;
  height: 50px;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}
.aside-button:focus {
  background: #f1d592; 
  outline: 0;
}
.aside-button:not(:focus) {
  background: #eee;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #555;
}

/*CSS Grid*/
/*==========================================*/
.App {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 50px auto 50px;
}
header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
aside {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}
main {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
footer {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

/*Media Queries*/
/*==========================================*/

@media only screen and (max-width: 760px) {
.App {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 50px auto auto 50px;
  }
  header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  aside {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
  }
  main {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }
}