.about {
	height: 100vh;
	width: 100%;
}
.about-body {
	display: grid;
	grid-template-columns: 75% auto;
	grid-template-rows: 25% 25% 25%;
	line-height: 2em;
}
.page-description {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	margin: 2em;
}
.about-image {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	margin: 2em;
}
.about-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.about-biography {
	margin: 0 2em;
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
}
.about-info {
	margin: 2em;
	grid-column: 1 / span 2;
	grid-row: 3 / span 1;
}